:root {
    --light-blue: #f3f5fc;
    --dark-blue: #0a3871;
    --button-bg: #d8dfe8;
    --text-color: #000000;
    --input-bg: #ffffff;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-blue);
    font-family: 'Inter', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
}

.logo-top-left {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    height: 48px;
}

.encryption-app {
    display: flex;
    flex-direction: row;
    background-color: var(--light-blue);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin-top: 80px;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-section {
    flex: 3;
    background: var(--light-blue);
    padding: 40px;
    text-align: left;
    position: relative;
    height: calc(100vh - 120px);
}

.right-section {
    flex: 2;
    background-color: var(--input-bg);
    text-align: center;
    border-left: 1px solid #e0e0e0;
    padding: 40px;
    border-radius: 10px;
}

.input-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container textarea {
    width: 100%;
    height: 50%; /* Ocupa todo el espacio disponible */
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 24px;
    background-color: transparent;
    color: var(--dark-blue);
    resize: none; /* Deshabilita el redimensionamiento */
    transition: border-color 0.5s ease;
    animation: blinkBorder 2s infinite;
}

.input-container textarea:focus {
    border-color: var(--dark-blue);
    outline: none;
}

.input-container textarea::placeholder {
    color: var(--dark-blue);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.input-container textarea:focus::placeholder {
    opacity: 0;
}

.note {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.icon {
    width: 16px;
    height: 16px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.encrypt-button {
    background: var(--dark-blue);
    color: white;
}

.decrypt-button {
    border: 1px solid var(--dark-blue);
    background: var(--button-bg);
    color: var(--text-color);
}

.illustration {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.message {
    font-size: 18px;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: var(--text-color);
}

.copy-button {
    background: var(--dark-blue);
    color: white;
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    width: 100%;
    background-color: var(--light-blue);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

.footer p {
    margin: 0;
    color: var(--dark-blue);
    font-size: 14px;
}

.footer a {
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .encryption-app {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 20px;
        border: none;
    }

    .left-section {
        height: auto; /* Ajusta la altura para que se ajuste automáticamente al contenido */
    }

    .logo-top-left {
        top: 20px;
        left: 20px;
        width: 80px;
        height: 32px;
    }

    .input-container {
        height: auto; /* Ajusta la altura automáticamente en la vista móvil */
    }

    .input-container textarea {
        height: 15vh; /* Ocupa el 50% de la altura de la ventana gráfica */
    }

    .buttons {
        flex-direction: column;
        width: 100%;
        gap: 20px; /* Aumenta el espacio entre los botones y otros elementos */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .encryption-app {
        flex-direction: row;
    }

    .left-section {
        flex: 2;
    }

    .right-section {
        flex: 1;
    }

    .logo-top-left {
        top: 30px;
        left: 30px;
        width: 100px;
        height: 40px;
    }
}

/* Animación para el borde */
@keyframes blinkBorder {
    50% {
        border-color: var(--dark-blue);
    }
}
